h1{
    text-align: center;
    color: #015694;
    font-size: 72px !important;
    font-weight: 500 !important;
}
h2{
    color: #015694;
    text-align: center;
    margin-bottom: 32px;
}
p{
    text-align: start;
    font-size: 32px !important;
	color: #40516f;
	font-weight: 200;	
}

.container{
    margin-top: 32px;
    width: 1200px;
    margin-left: 50%;
    margin-right: 50%;
}

.btn-primary{
    background-color: #4AA84F !important;
    border-color: #4AA84F !important;
    width: 300px !important;
}


.imagen-izq{
    width: 100%;
}
.registro{
    color: white;
    text-decoration: none;
	margin-bottom: 16px;
}

.registro-exitoso{
    background-color: #F0F3F7 !important;
	border-radius: 22px;
	text-align: center;
	height: fit-content;
}
.img-check{
	width: 	80px;
	margin-top: 45px;
	margin-bottom: 22px;
}

.img-card{
    margin-left: auto;
	margin-right: auto;
    width: 85%;
	margin-top: 18px;
}
.card{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.card-body{
	margin: auto !important;
}
.card-text{
	font-size: 22px !important;
	width: 500px;
	text-align: center;
	margin: auto;
}

.btn-ver-contenido{
    margin-bottom: 32px;
	margin-right: auto;
	margin-left: auto;
    border-color: #64A659 !important;
    border-radius: 8px;
	width: 500px;
	font-size: 18px;
    border-width: 4px;
    background-color: white !important;
}

.link-contenido{
    color: #64A659 !important;
    font-size: 22px;
	text-decoration: none !important;
}


/*------Formulario------*/

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');


.form-control {
	margin-bottom: 3px;
	position: relative;
	padding: 0 !important;
    border: none !important;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
    margin-bottom: 6px !important;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	bottom: -11;
	left: 11;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #64A659;
	border: 2px solid #64A659;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 8px;
	width: 65%;
}

.botones{
	align-items: center;
	margin-left: 85px;
}

.recuperar-acceso{
	text-align: center;
	margin: auto;
	padding-left: 200px;
}
.texto-correo{
	font-size:18px !important;
	text-align: center;
}